<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_golf" name="Golf" sequence="2" web_icon="golf_club,static/description/icon.png" />
    <menuitem id="menu_golf_tournament" name="Tournaments" action="action_golf_tournament_act_window" parent="menu_golf" sequence="2" />
    <menuitem id="menu_golf_players" name="Players" action="action_golf_player_act_window" parent="menu_golf" sequence="2" />
    <menuitem id="menu_golf_data" name="Data" sequence="3" parent="menu_golf"/>
    <menuitem id="menu_golf_field" name="Fields" action="action_golf_field_act_window" parent="menu_golf_data" sequence="2" />
    <menuitem id="menu_golf_hole" name="Holes" action="action_golf_hole_act_window" parent="menu_golf_data" sequence="3" />
    <menuitem id="menu_golf_card" name="Cards" action="action_golf_card_act_window" parent="menu_golf_data" sequence="4" />
    <menuitem id="menu_golf_settings" name="Settings" sequence="4" parent="menu_golf"/>
</odoo>
